.app {
  &__content {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      border: 4px inset white;
      background-color: #cccccc;

      &-smile {
        display: flex;
        height: 81.25%;
        width: 10.15625%;
      }
    }
  }
}