@mixin sides {
  display: flex;
  height: 71.875%;
  width: 15.234375%;
  margin: 10px 0 10px 0;
}

.app {
  &__content {
    &-top {
      &-left {
        @include sides;
        margin-left: 2.34375%;
      }
      &-right {
        @include sides;
        margin-right: 2.34375%;
      }
    }
  }
}