.left, .right {
  display: flex;
  height: 46px;
  width: 77px;
  margin: 10px 0 10px 0;

  @media (max-width: 450px) {
    height: 30px;
    width: 52px;
  }

  @media (max-width: 300px) {
    height: 23px;
    width: 39px;
  }
}

.left {
  margin-left: 2.34375%;
}
.right {
  margin-right: 2.34375%;
}
