body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    &-outside {
      width: 550px;
      //height: 636px;
      border: 4px outset white;
    }

    &-inside {
      height: 100%;
      border: 10px solid #cccccc;
    }
  }

  &__content {
    &-center {
      margin: 0;
      border: 5px solid #cccccc;
    }
  }
}